@font-face {
    font-family: "jaro";
    src: url(../../../storage/fonts/Jaro_24pt-Regular.ttf);
}

body {
    overflow: hidden;
    background-color: #2B1900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#roll {
    padding: 50px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: enter 1s forwards;
}

#roll img {
    width: 100%;
}

#rollvertical {
    display: none;
}



#rollLeft {
    /* background-color: red; */
    position: relative;
    right: -5vw;

}

#rollCenter {
    /* background-color: blue; */
    transform: scaleX();
    z-index: -1;
}

#rollRight {
    /* background-color: olive; */
    position: relative;
    right: 5vw;

}


#leftHand {
    /* background-color: purple; */
    position: relative;
    right: -12vw;
    z-index: 1;
}

#rightHand {
    /* background-color: salmon; */
    position: relative;
    right: 14vw;
    z-index: 1;
}


#backbutton a {
    border: 10px solid #160d01;
    color: #160d01;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px 60px 5px 60px;
    font-family: "jaro";
    font-size: 3rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: none;
    z-index: 1;
}

#backbutton a:hover {
    color: white;
    transform: scale(1.1);
    border: 10px solid #ffffff;
    box-shadow: 20px 20px 20px #160d004b;
}


/* @keyframes enter {
    0% {
        transform: translate(0, -500%);
    }

    100% {
        transform: translate(0, 0);
    }
} */

@keyframes stabilization {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 1vh);
    }

    100% {
        transform: translate(0, 0);
    }
}

#roll.enter-done {
    animation: stabilization 3s infinite ease-in-out;
}

@keyframes paperdesrollcenter {
    0% {
        transform: scale(0.1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

#rollCenter{
    animation: paperdesrollcenter 1s ease-in-out forwards;
}


@keyframes paperdesrollleft {
    0% {
        transform: translate(22vw, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

#rollLeft{
    animation: paperdesrollleft 1s ease-in-out forwards;
}



@keyframes paperdesrollright {
    0% {
        transform: translate(-20.2vw, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}
#rollRight{
    animation: paperdesrollright 1s ease-in-out forwards;
}

@keyframes handdesrollleft {
    0% {
        transform: translate(22vw, 0) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(-20deg);
    }
}
#leftHand{
    animation: handdesrollleft 1s ease-in-out forwards;

}

@keyframes handdesrollright {
    0% {
        transform: translate(-22vw, 0) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(20deg);
    }
}
#rightHand{
    animation: handdesrollright 1s ease-in-out forwards;

}


#backbutton{

}
/*-------------------------------------------------------------------------------------------*/


@media (max-width: 600px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;
        background-color: red;
    }

    #roll {
        display: none;
    }

    #rollvertical {
        display: contents;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: stabilization 3s infinite ease-in-out;
    }

    #rollvertical img {
        width: 100%;
    }

}


@media (min-width: 601px) and (max-width: 1024px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;
        background-color: blue;
        padding: 50px;
    }

    #roll {
        display: none;
    }

    #rollvertical {
        background-color: aquamarine;
        width: 100%;
        display: contents;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: stabilization 3s infinite ease-in-out;
    }

    #rollvertical img {
        width: 100%;
    }

    #rollup{
        background-color: darkgreen;
        width: 100%;
    }
    #rollcentervertical{
        background-color: red;
        width: 80%;
    }
    #rolldown{
        background-color: palegreen;
        width: 100%;

    }
    #leftHandv{
        background-color: palevioletred;
        width: 40%;

    }
    #rightHandv{
        background-color: peru;
        width: 40%;

    }

    #backbutton{
        z-index: 1;
    }
}