@font-face {
    font-family: "jaro";
    src: url(../../../storage/fonts/Jaro_24pt-Regular.ttf);
}

body {
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #2B1900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#roll {
    /* background-color: aqua; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: enter 1s forwards;
}

#roll img {
    width: 100%;
}

#rollvertical {
    display: none;
}



#rollLeft {
    /* background-color: red; */
    position: relative;
    right: -5vw;

}

#rollCenter {
    /* background-color: blue; */
    transform: scaleX();
    z-index: -1;
}

#rollRight {
    /* background-color: olive; */
    position: relative;
    right: 5vw;

}


#leftHand {
    /* background-color: purple; */
    position: relative;
    right: -12vw;
    z-index: 1;
}

#rightHand {
    /* background-color: salmon; */
    position: relative;
    right: 14vw;
    z-index: 1;
}



.scrollcontainer {
    /* background-color: gray; */
    position: absolute;
    overflow-y: scroll;
    /* Permitir scroll vertical */
    width: 70%;
    height: 80%;
    bottom: 15%;
    left: 15%;

    /* Estilos para el scrollbar en Webkit (Chrome, Safari) */
}

.scrollcontainer::-webkit-scrollbar {
    width: 8px;
    /* Ancho del scrollbar */
}

.scrollcontainer::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    /* Color del "thumb" */
    border-radius: 10px;
    /* Bordes redondeados */
}

.scrollcontainer::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
    /* Color del área del scrollbar */
}

/* Estilos para el scrollbar en Firefox */
.scrollcontainer {
    scrollbar-width: thin;
    /* Hacer el scrollbar delgado */
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0);
    /* Color del thumb y del track */
}







#backbutton a {
    border: 10px solid #160d01;
    color: #160d01;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px 60px 5px 60px;
    font-family: "jaro";
    font-size: 3rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: none;
    z-index: 1;
}

#backbutton a:hover {
    color: white;
    transform: scale(1.1);
    border: 10px solid #ffffff;
    box-shadow: 20px 20px 20px #160d004b;
}


@keyframes enter {
    0% {
        transform: translate(0, -500%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes stabilization {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 1vh);
    }

    100% {
        transform: translate(0, 0);
    }
}

#roll.enter-done {
    animation: stabilization 5s infinite ease-in-out;
}

@keyframes paperdesrollcenter {
    0% {
        transform: scale(0.1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

#rollCenter {
    animation: paperdesrollcenter 3s ease-in-out forwards;
}


@keyframes paperdesrollleft {
    0% {
        transform: translate(22vw, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

#rollLeft {
    animation: paperdesrollleft 3s ease-in-out forwards;
}



@keyframes paperdesrollright {
    0% {
        transform: translate(-20.2vw, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

#rollRight {
    animation: paperdesrollright 3s ease-in-out forwards;
}

@keyframes handdesrollleft {
    0% {
        transform: translate(22vw, 0) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(-20deg);
    }
}

#leftHand {
    animation: handdesrollleft 3s ease-in-out forwards;

}

@keyframes handdesrollright {
    0% {
        transform: translate(-22vw, 0) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(20deg);
    }
}

#rightHand {
    animation: handdesrollright 3s ease-in-out forwards;
}










#particle {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    position: absolute;
    top: -10vh;
}

#particle img {
    position: relative;
    width: 100%;
}

#bodyparticle {
    background-color: #D9D9D9;
    width: 100%;
    height: 300vh;
    z-index: 10;
}

@keyframes bodyIntro {
    0% {
        opacity: 1;
        top: -120vh;
    }

    100% {
        opacity: 1;
        top: 160vh;
    }
}

#particle,
#bodyparticle {
    animation: bodyIntro 2s forwards;
}





















/*-------------------------------------------------------------------------------------------*/


@media (max-width: 600px) {
    body {
        /* background-color: red; */
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }

    #roll {
        display: none;
    }

    #rollvertical {
        /* background-color: aquamarine; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        animation: enter 2s forwards, stabilization 5s infinite ease-in-out;
    }

    #rollvertical img {
        width: 100%;
    }

    #rollup {
        /* background-color: darkgreen; */
        width: 100%;
        position: relative;
        top: -80px;
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.344));
    }

    #rollcentervertical {
        /* background-color: red; */
        width: 90%;
        z-index: -1;
        position: relative;
        top: -100px;
        transform: scale(1, 1.2);
    }

    #rolldown {
        /* background-color: palegreen; */
        width: 100%;
        position: relative;
        top: -110px;
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.344));
    }

    #leftHandv {
        /* background-color: palevioletred; */
        width: 40%;
        transform: rotate(-50deg) rotateY(180deg);
        z-index: 1;
    }

    #leftHandv img {
        width: 100%;
    }

    #rightHandv {
        /* background-color: peru; */
        width: 40%;
        transform: rotate(120deg);
        position: relative;
        top: -200px;
    }

    #backbutton {
        z-index: 1;
        position: relative;
        bottom: 105px;
    }

    .scrollcontainer {
        /* background-color: gray; */
        position: absolute;
        overflow-y: scroll;
        width: 80%;
        height: 70%;
        bottom: 18%;
        left: 12%;
    }

    .scrollcontainer::-webkit-scrollbar {
        width: 8px;
    }

    .scrollcontainer::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }

    .scrollcontainer::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0);
    }

    .scrollcontainer {
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0);
    }




    @keyframes paperdesrollcenter {
        0% {
            transform: scale(1, 0.4);
        }

        100% {
            transform: scale(1, 1.2);
        }
    }

    #rollcentervertical {
        animation: paperdesrollcenter 3s forwards;
    }


    @keyframes paperdesrollleft {
        0% {
            transform: translate(0, 25vh);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    #rollup {
        animation: paperdesrollleft 3s forwards;
    }



    @keyframes paperdesrollup {
        0% {
            transform: translate(0, -25vh);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    #rolldown {
        animation: paperdesrollup 3s forwards;
    }

    @keyframes handdesrollleft {
        0% {
            transform: translate(0, 50vw) rotate(60deg);
        }

        100% {
            transform: translate(0, 0) rotate(70deg);
        }
    }

    #leftHandv {
        animation: handdesrollleft 3s forwards;

    }

    @keyframes handdesrollright {
        0% {
            transform: translate(0, -25vh) rotate(100deg);
        }

        100% {
            transform: translate(0, 0) rotate(120deg);
        }
    }

    #rightHandv {
        animation: handdesrollright 3s forwards;
    }




    @keyframes back {
        0% {
            overflow-y: hidden;
            transform: translate(0, 0) rotate(0deg);
        }

        100% {
            overflow-y: hidden;
            transform: translate(0, 200vh) rotate(0deg);
        }
    }

}





























@media (min-width: 601px) and (max-width: 1024px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;
        /* background-color: blue; */
        padding: 50px;
    }

    #roll {
        display: none;
    }

    #rollvertical {
        /* background-color: aquamarine; */
        width: 100%;
        display: contents;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: stabilization 5s infinite ease-in-out;
    }

    #rollvertical img {
        width: 100%;
    }

    #rollup {
        /* background-color: darkgreen; */
        width: 100%;
        position: relative;
        top: -100px;
    }

    #rollcentervertical {
        /* background-color: red; */
        width: 90%;
        z-index: -1;
        position: relative;
        top: -205px;
    }

    #rolldown {
        /* background-color: palegreen; */
        width: 100%;
        position: relative;
        top: -313px;
    }

    #leftHandv {
        /* background-color: palevioletred; */
        width: 40%;
        transform: rotate(-50deg) rotateY(180deg);
        z-index: 1;
    }

    #leftHandv img {
        width: 100%;
    }

    #rightHandv {
        /* background-color: peru; */
        width: 40%;
        transform: rotate(120deg);
        position: relative;
        top: -440px;
    }

    #backbutton {
        /* background-color: red; */
        width: 100vw;
        z-index: 1;
        display: flex;
        justify-content: center;
        position: relative;
        top: -150px;
    }

    #backbutton a {
        /* background-color: red; */
        width: 100vw;
        z-index: 1;
        width: 9%;
    }

    .scrollcontainer {
        /* background-color: gray; */
        position: absolute;
        overflow-y: scroll;
        /* Permitir scroll vertical */
        width: 75%;
        height: 70%;
        bottom: 18%;
        left: 14%;

        /* Estilos para el scrollbar en Webkit (Chrome, Safari) */
    }

    .scrollcontainer::-webkit-scrollbar {
        width: 8px;
        /* Ancho del scrollbar */
    }

    .scrollcontainer::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.5);
        /* Color del "thumb" */
        border-radius: 10px;
        /* Bordes redondeados */
    }

    .scrollcontainer::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0);
        /* Color del área del scrollbar */
    }

    /* Estilos para el scrollbar en Firefox */
    .scrollcontainer {
        scrollbar-width: thin;
        /* Hacer el scrollbar delgado */
        scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0);
        /* Color del thumb y del track */
    }




    @keyframes back {
        0% {
            overflow-y: hidden;
            transform: translate(0, 0) rotate(0deg);
        }

        100% {
            overflow-y: hidden;
            transform: translate(0, 600vh) rotate(0deg);
        }
    }




}