@font-face {
    font-family: "jaro";
    src: url(../../../storage/fonts/Jaro_24pt-Regular.ttf);
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: auto;
    background-color: #2B1900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#boxeducation {
    background-color: red;
    width: calc(100% - 110px); /* Resta el ancho total del padding (50px + 60px) */
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 50px;
    padding-left: 50px;
    padding-right: 60px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

#boxcertificate{
    
}


#backbutton {
    /* background-color: turquoise; */
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 40px;
}

#backbutton a {
    background-color: #2B1900;
    border: 10px solid #160d01;
    color: #160d01;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px 60px;
    font-family: "jaro";
    font-size: 3rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: none;
}

#backbutton a:hover {
    color: white;
    transform: scale(1.1);
    border: 10px solid #ffffff;
    box-shadow: 20px 20px 20px #160d004b;
}