@font-face {
    font-family: "jaro";
    src: url(../../../storage/fonts/Jaro_24pt-Regular.ttf);
}

body {
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #2B1900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; /* Asegura que no haya margen por defecto */
    padding: 0;
}

#boxeducation {
    /* background-color: red; */
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Mantener el scroll horizontal */
    overflow-y: visible; /* Permitir que los hijos se salgan en vertical */
    gap: 50px; /* Separación entre certificados */
    cursor: grab;
    box-sizing: border-box;
    padding: 0 35vw; /* Mantener el padding lateral */
    scrollbar-color: rgba(252, 252, 252, 0) #22222200; /* Color de scrollbar */
    scrollbar-width: thin; /* Ancho de scrollbar */
    position: relative;
}

.boxcertificate {
    /* background-color: blue; */
    flex: 0 0 auto;
    width: 30vw; /* Ajustar el ancho de los certificados */
    overflow: visible; /* Asegurar que el hover no se corte */
    position: relative;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin: 0; /* Elimina posibles márgenes externos */
}

.boxcertificate img {
    width: 100%;
    height: 100%;
}

h1{
    color: white;
}
.boxcertificate:hover {
    transform: scale(1.05); /* Aumentar tamaño en hover */
    filter: drop-shadow(0 0 20px #ffee02); /* Sombra intensa */
}

#backbutton {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 40px;
}

#backbutton a {
    background-color: #2B1900;
    border: 10px solid #160d01;
    color: #160d01;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px 60px;
    font-family: "jaro";
    font-size: 3rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

#backbutton a:hover {
    color: white;
    transform: scale(1.1);
    border: 10px solid #ffffff;
    box-shadow: 20px 20px 20px #160d004b;
}
