@font-face {
    font-family: "jaro";
    src: url(../../../storage/fonts/Jaro_24pt-Regular.ttf);
}

body {
    cursor: none !important;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #2B1900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#boxeducation {
    cursor: none !important;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 50px;
    cursor: grab;
    box-sizing: border-box;
    padding: 0 10vw; /* Reducimos el padding lateral */
    scrollbar-color: rgba(252, 252, 252, 0) #22222200;
    scrollbar-width: none;
    position: relative;
}

.boxcertificate {
    /* background-color: blue; */
    cursor: none !important;
    flex: 0 0 auto;
    width: 20vw; /* Ajustar el ancho de los certificados */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s ease, filter 0.3s ease;
    padding: 10px;
    box-sizing: border-box;
    text-align: center; /* Asegurar que todo esté centrado */
}

.boxcertificate a{
    /* background-color: green; */
    cursor: none !important;
    width: 70%;
    text-decoration: none;
}

.boxcertificate img {
    /* background-color: red; */
    width: 100%;
}

.boxcertificate h1 {
    /* background-color: yellowgreen; */
    color: white;
    font-size: 2rem; /* Reducimos un poco el tamaño de la fuente */
    font-family: "jaro";
    text-align: center;
    margin: 0;
    padding: 0;
}

.boxcertificate:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 20px #02fff2);
}

#backbutton a {
    background-color: #2B1900;
    border: 10px solid #160d01;
    color: #160d01;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px 60px;
    font-family: "jaro";
    font-size: 3rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: none ;
}

#backbutton a:hover {
    color: white;
    transform: scale(1.1);
    border: 10px solid #ffffff;
    box-shadow: 20px 20px 20px #160d004b;
}

#whiteScreen{
    opacity: 1;
    z-index: 100;
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

@keyframes enter {
    0% {
        opacity: 1;
    }

    100% {
       opacity: 0;
    }
}

#whiteScreen{
    animation: enter 1s forwards;
}

.hidden {
    display: none;
}



@keyframes back {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(120vh);
    }
}

body.animate-back {
    animation: back 1s forwards;
}
