@font-face {
    font-family: "jaro";
    src: url(../../storage/fonts/Jaro_24pt-Regular.ttf);
}

body {
    user-select: none;
    overflow: hidden;
    background-color: #2B1900;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: none;
}

#title {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#title p {
    /* background-color: rebeccapurple; */
    font-family: "jaro";
    color: white;
    opacity: 20%;
    margin: 0;
    padding: 0;
    line-height: 0.7;
}

#about {
    /* background-color: salmon; */
    font-size: 20vw;
}
#me {
    /* background-color: salmon; */
    font-size: 20vw;
}

#hand {
    /* background-color: red; */
    max-width: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    gap: 5vw;
}

#hand img {
    /* background-color: aqua; */
    width: 100%;
    cursor: none;
}

#backbutton a {
    background-color: #2B1900;
    border: 10px solid #160d01;
    color: #160d01;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px 60px 5px 60px;
    font-family: "jaro";
    font-size: 3rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: none;
}

#backbutton a:hover {
    color: white;
    transform: scale(1.1);
    border: 10px solid #ffffff;
    box-shadow: 20px 20px 20px #160d004b;
}

/* Animación de shake para #aboutme img */
@keyframes shake-potion {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(3px);
    }
}

/* Animación de escalado grande */
@keyframes scale-up-large {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); } /* Tamaño de escala más grande */
    100% { transform: scale(1.1); } /* Mantener tamaño grande */
}

#hand img {
    animation: shake-potion 2.5s infinite ease-in-out; /* Mantener animación shake */
    filter: drop-shadow(0 0 15px rgba(255, 1, 1, 0.5));
}

#hand img:hover {
    animation: scale-up-large 0.5s forwards; /* Usar la animación más grande */
    animation-play-state: running; /* Asegura que la animación se ejecute */
    filter: drop-shadow(0 0 50px rgb(255, 1, 1));
}

#hand img{
    cursor: none;
}

@keyframes slideInBotton {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

#hand {
    animation: slideInBotton 1s ease-in-out forwards;
}


@keyframes slideInRight {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#title {
    animation: slideInRight 0.6s ease-in-out forwards;
}


@keyframes slideOutBottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

#hand.slideOutBottom {
    animation: slideOutBottom 1s ease-in-out forwards;
}



@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    
    100% {
        transform: translateX(-200%);
        opacity: 0;
    }
}

#title.slideOutLeft {
    animation: slideOutLeft 0.6s ease-in-out forwards;
}
/*-------------------------------------------------------------------------------------------*/


@media (max-width: 600px) {
    @keyframes bodyover {
        0% {
            overflow-y: hidden;
            overflow-x: hidden;
        }

        100% {
            overflow-y: hidden;
            overflow-x: hidden;        
        }
    }

    body {
        animation: bodyover 0.6s ease-out forwards;
    }

    #about {
        font-size: 30vw;
    }
    #me {
        font-size: 60vw;
    }
    #title {
        flex-direction: column;
    }

    #hand {
        max-width: 20vh;
    }

    #hand img {
        cursor: default;
    }
}


@media (min-width: 601px) and (max-width: 1024px) {
    @keyframes bodyover {
        0% {
            overflow-y: hidden;
            overflow-x: hidden;
        }

        100% {
            overflow-y: hidden;
            overflow-x: hidden;        
        }
    }

    body {
        animation: bodyover 0.6s ease-out forwards;
    }
    #pro,
    #ject {
        font-size: 20vw;
    }

    #title {
        flex-direction: row;
    }


}








