@font-face {
    font-family: "jaro";
    src: url(../../storage/fonts/Jaro_24pt-Regular.ttf);
}

body {
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #2B1900;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: slideInRight 0.6s ease-in-out forwards;
}

#title p {
    font-family: "jaro";
    color: white;
    opacity: 20%;
    margin: 0;
    padding: 0;
    line-height: 0.7;
}

#ion,
#edu,
#cat {
    font-size: 20vw;
}

#hand {
    max-width: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    gap: 5vw;
    animation: slideInBotton 1.5s ease-in-out forwards;
}

#hand img {
    width: 100%;
    animation: shake-potion 2.5s infinite ease-in-out;
    filter: drop-shadow(0 0 15px rgba(31, 255, 1, 0.5));
}

#hand img:hover {
    animation: scale-up-large 0.5s forwards;
    filter: drop-shadow(0 0 50px rgba(31, 255, 1, 0.5));
}

#backbutton a {
    background-color: #2B1900;
    border: 10px solid #160d01;
    color: #160d01;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px 60px;
    font-family: "jaro";
    font-size: 3rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

#backbutton a:hover {
    color: white;
    transform: scale(1.1);
    border: 10px solid #ffffff;
    box-shadow: 20px 20px 20px #160d004b;
}

/* Animaciones */
@keyframes shake-potion {
    0%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(0.95);
    }
    75% {
        transform: scale(1.03);
    }
}

@keyframes scale-up-large {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes slideInBotton {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutBottom {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-200%);
        opacity: 0;
    }
}

#hand.slideOutBottom {
    animation: slideOutBottom 1s ease-in-out forwards;
}

#title.slideOutLeft {
    animation: slideOutLeft 0.6s ease-in-out forwards;
}

#particle {
    position: relative;
    top: 10px;
}

#particle img {
    width: 100%;
}

#fill {
    background-color: #D9D9D9;
    width: 100vw;
    height: 130vh;
}

#curtinebox {
    /* display: none; */
    position: absolute;
    z-index: 100;
    width: 100vw;
    transform: translateY(150vh);
}

@keyframes curtine {
    0% {
        transform: translateY(150vh);
    }
    100% {
        transform: translateY(-10vh);
    }
}

#curtinebox.animate-curtine {
    animation: curtine 1s forwards; /* La animación se ejecuta durante 1 segundo */
}






/*-------------------------------------------------------------------------------------------*/


@media (max-width: 600px) {


    @keyframes bodyover {
        0% {
            overflow-y: hidden;
            overflow-x: hidden;
        }

        100% {
            overflow-y: hidden;
            overflow-x: hidden;        
        }
    }

    body {
        animation: bodyover 0.6s ease-out forwards;
    }


    #edu,
    #cat,
    #ion {
        font-size: 60vw;
        /* Reducir el tamaño del texto */
    }

    #title {
        flex-direction: column;
        /* Cambiar la dirección a vertical */
    }

    #hand {
        max-width: 40vh;
    }

    #hand img {
        cursor: default;
    }

    @keyframes slideInRight {
        0% {
            transform: translateY(200%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    #hand {
        animation: slideInRight 0.6s ease-out forwards;
    }

}


@media (min-width: 601px) and (max-width: 1024px) {
    @keyframes bodyover {
        0% {
            overflow-y: hidden;
            overflow-x: hidden;
        }

        100% {
            overflow-y: hidden;
            overflow-x: hidden;        
        }
    }

    body {
        animation: bodyover 0.6s ease-out forwards;
    }

    #edu,
    #cat,
    #ion {
        font-size: 20vw;
        /* Ajustar el tamaño del texto */
    }

    #title {
        flex-direction: row;
        /* Mantener la dirección horizontal */
    }

}