@font-face {
    font-family: "jaro";
    src: url(../../storage/fonts/Jaro_24pt-Regular.ttf);
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #2B1900;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#title p {
    /* background-color: rebeccapurple; */
    font-family: "jaro";
    color: white;
    opacity: 20%;
    margin: 0;
    padding: 0;
    line-height: 0.7;
}

#ion,
#edu,
#cat {
    /* background-color: yellowgreen; */
    font-size: 20vw;
}

#hand {
    /* background-color: red; */
    max-width: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    gap: 5vw;
}

#hand img {
    /* background-color: aqua; */
    width: 100%;
}

#backbutton a {
    background-color: #2B1900;
    border: 10px solid #160d01;
    color: #160d01;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px 60px 5px 60px;
    font-family: "jaro";
    font-size: 3rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: none;
}

#backbutton a:hover {
    color: white;
    transform: scale(1.1);
    border: 10px solid #ffffff;
    box-shadow: 20px 20px 20px #160d004b;
}

/* Animación de shake para #aboutme img */
@keyframes shake-potion {

    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
    }

    50% {
        transform: scale(0.95);
    }

    75% {
        transform: scale(1.03);
    }
}

/* Animación de escalado grande */
@keyframes scale-up-large {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    /* Tamaño de escala más grande */
    100% {
        transform: scale(1.1);
    }

    /* Mantener tamaño grande */
}

#hand img {
    animation: shake-potion 2.5s infinite ease-in-out;
    /* Mantener animación shake */
    filter: drop-shadow(0 0 15px rgba(31, 255, 1, 0.5));
}

#hand img:hover {
    animation: scale-up-large 0.5s forwards;
    /* Usar la animación más grande */
    animation-play-state: running;
    /* Asegura que la animación se ejecute */
    filter: drop-shadow(0 0 50px rgba(31, 255, 1, 0.5));
}




@keyframes slideInBotton {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

#hand {
    animation: slideInBotton 1.5s ease-in-out forwards;
}


@keyframes slideInRight {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#title {
    animation: slideInRight 0.6s ease-in-out forwards;
}

/*-------------------------------------------------------------------------------------------*/


@media (max-width: 600px) {


    @keyframes bodyover {
        0% {
            overflow-y: hidden;
            overflow-x: hidden;
        }

        100% {
            overflow-y: hidden;
            overflow-x: hidden;        
        }
    }

    body {
        animation: bodyover 0.6s ease-out forwards;
    }


    #edu,
    #cat,
    #ion {
        font-size: 60vw;
        /* Reducir el tamaño del texto */
    }

    #title {
        flex-direction: column;
        /* Cambiar la dirección a vertical */
    }

    #hand {
        max-width: 40vh;
    }

    #hand img {
        cursor: default;
    }

    @keyframes slideInRight {
        0% {
            transform: translateY(200%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    #hand {
        animation: slideInRight 0.6s ease-out forwards;
    }

}


@media (min-width: 601px) and (max-width: 1024px) {
    @keyframes bodyover {
        0% {
            overflow-y: hidden;
            overflow-x: hidden;
        }

        100% {
            overflow-y: hidden;
            overflow-x: hidden;        
        }
    }

    body {
        animation: bodyover 0.6s ease-out forwards;
    }

    #edu,
    #cat,
    #ion {
        font-size: 20vw;
        /* Ajustar el tamaño del texto */
    }

    #title {
        flex-direction: row;
        /* Mantener la dirección horizontal */
    }

}