@font-face {
    font-family: "jaro";
    src: url(../storage/fonts/Jaro_24pt-Regular.ttf);
}

body {
    background-color: #2B1900;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title p {
    /* background-color: rebeccapurple; */
    font-family: "jaro";
    color: white;
    opacity: 20%;
    line-height: 1;
    margin: 0;
    padding: 0;
    line-height: 0.7;
}

#about {
    /* background-color: salmon; */
    font-size: 10rem;
}

#me {
    /* background-color: yellowgreen; */
    font-size: 20rem;
}


#hand{
    /* background-color: red; */
    width: 100vw;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    
}

#hand img {
    /* background-color: aqua; */
    height: 100%;
}








/*-------------------------------------------------------------------------------------------*/



/*mobile super peque;o*/
@media screen and (max-width: 320px) {}
/*mobile chiquito horizontal*/
@media screen and (max-height:450px) {}


/*mobile vertical*/
@media screen and (max-width:450px) {
    #about {
        font-size: 7rem;
    }
    
    #me {
        font-size: 15rem;
    }
}


/*Pc*/
@media screen and (min-width:1040px) {}