@font-face {
    font-family: "jaro";
    src: url(../storage/fonts/Jaro_24pt-Regular.ttf);
}

body {
    background-color: #2B1900;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title p {
    /* background-color: rebeccapurple; */
    font-family: "jaro";
    color: white;
    opacity: 20%;
    margin: 0;
    padding: 0;
    line-height: 0.7;
}

#about {
    /* background-color: salmon; */
    font-size: 10rem;
}

#me {
    /* background-color: yellowgreen; */
    font-size: 20rem;
}


#hand {
    /* background-color: red; */
    width: 100vw;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

}

#hand img {
    /* background-color: aqua; */
    height: 100%;
}




/* Animación de shake para #aboutme img */
@keyframes shake-aboutme {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(3px);
    }
}

/* Animación normal en el estado original */
#hand {
    animation: shake-aboutme 2s infinite ease-in-out; /* Mantener animación shake */
    filter: drop-shadow(0 0 15px rgba(255, 0, 1, 0.5));
    transition: filter 0.3s ease, transform 0.3s ease;
}





/*-------------------------------------------------------------------------------------------*/



/*mobile super peque;o vertical*/
@media screen and (max-width: 320px) {
    #hand {
        /* background-color: red; */
        width: auto;
        height: auto;
    }
    
    #hand img {
        height: 50vh;
    }
}

/*mobile super peque;o vertical*/
@media screen and (min-width: 321px) and (max-height: 850px){
    #hand img {
        height: 50vh;
    }
}

/*mobile mediano y chikito horizontal*/
@media screen and (max-height:429px) {

    #title {
        flex-direction: row;
    }

    #about {
        font-size: 7rem;
    }

    #me {
        font-size: 7rem;
    }

    #hand {
        height: 60vh;
    }


}

/*tablet*/
@media screen and (min-height:430px) and (max-height:500px){

    #title {
        flex-direction: row;
    }

    #about {
        font-size: 11rem;
    }

    #me {
        font-size: 11rem;
    }

    #hand {
        height: 70vh;
    }
}

/*mobile vertical*/
@media screen and (max-width:450px) {
    #about {
        font-size: 7rem;
    }

    #me {
        font-size: 15rem;
    }
}

/*Pc*/
@media screen and (min-width:1400px) {
    #title {
        flex-direction: row;
    }

    #about {
        font-size: 20rem;
    }

    #me {
        font-size: 20rem;
    }

    #hand {
        height: 50vh;
    }
}