@font-face {
    font-family: "jaro";
    src: url(../storage/fonts/Jaro_24pt-Regular.ttf);
}

body{
    background-color: #2B1900;
}

#title{
    /* background-color: aqua; */
    width: 97vw;
    height: 97vh;
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#pro{
    font-size: 16rem;
}
#ject{
    font-size: 15rem;
}
#title p{
    /* background-color: red; */
    font-family: "jaro";
    color: white;
    line-height: 200px;
    margin: 0;
    padding: 0px;
}

#hand{
    width: 97vw;
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}